/*Variable*/
html {
    color: var(--texte)
}

/*Page*/
body {
    background-color: var(--fond-page);
    display: grid;
    grid-template-columns: 20% 100vw;
    grid-template-rows: 100vh;
    gap: 0 0;
    grid-template-areas:
        "nav main";
}

nav {
    grid-area: nav;
    width: 100%;
    background-color: var(--fond-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hamburger {
    display: none;
}

main {
    grid-area: main;
}

/*Nav*/


.bio,
#menu,
#social {
    margin-bottom: 1.5em;
}

.item,
.item-actif {
    margin-bottom: 0.5em;
    font-size: 1em;
}

.item-actif {
    color: var(--accentuation-1);
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 1em;
}

#social a {
    width: 20%;
}
#social img {
    filter: grayscale(100%);
    width: 100%;
}

#social img:hover {
    filter: grayscale(0);
}

/*Section 1*/

#txt-rotate {
    border-right: 0.08em solid var(--texte);
}


/*Section*/

.section-3 {
    background-color: var(--fond-page);
    padding: 2% 5%;
}

.section-3 img {
    max-height: 100%;
}

.images {
    display: grid;
    grid-template-columns: 10% 80vw 10%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "gauche front droite";
    height: 60vh;
    width: 100%;
    overflow: hidden;
}

.gauche,
.front,
.droite {
    display: flex;
    height: 100%;
    align-items: center;
}

.gauche img,
.droite img {
    height: 80%;
    filter: grayscale(30);
}

.front img {
    max-width: 100%;
}

.gauche {
    grid-area: gauche;
    justify-content: right;
}

.front {
    grid-area: front;
    justify-content: center;
}

.droite {
    grid-area: droite;
}

.preload {
    display: none;
}

.arrows {
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--accentuation-1);
}

.prev,
.next {
    cursor: pointer;
    font-weight: bold;
    font-size: 200%;
    user-select: none;
    border-radius: 3px 0 0 3px;
}

.next {
    float: right;
}

.prev {
    float: left;
}




















/*Scroll*/
.holster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex: none;
    width: 80%;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
}

.container>section {
    scroll-snap-align: center;
    flex: none;
    width: 80%;
    height: 100%;
}

/*Nav*/
nav {
    position: sticky;
    top: 0;
    font-size: 1.4rem;
    font-family: 'Andika', sans-serif;
}
