/*Déclarations générales*/
* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

body,
html {
    max-width: 100vw;
    width: 100%;
}

p {
    font-size: calc(14px + 0.300625vw);
    font-family: 'Open Sans', sans-serif
}

h1 {
    font-size: 1.6rem;
    font-family: 'Andika', sans-serif;
}

.hi {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
    font-family: 'Andika', sans-serif;
}

h3 {
    font-size: 1.2rem;
    font-family: 'Andika', sans-serif;
}

a:any-link {
    text-decoration: none;
}

.citation {
    font-style: italic;
    color: var(--citation);
    font-size: 80%;
}

/*Variable*/
html {
    --hauteur-nav: 64px;
    color: var(--texte)
}

/*Sections*/
body {
    background-color: var(--fond-page);
}


/*Section 1*/
.titre {
    padding: 20%;
}

.wordCarousel {
    display: flex;
    flex-direction: row;
    gap: 1ch;
}

.wordCarousel div {
    overflow: hidden;
    position: relative;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;

}

.wordCarousel li {
    height: 45px;
    margin-bottom: 45px;
    display: block;
}

/*Section 2*/
.section-2 {
    display: grid;
    grid-template-columns: 50% 0 50%;
    background-color: var(--fond-page);
}

#photo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    background-color: var(--fond-1);
}

#photo img {
    width: 100%;
    margin: auto 0;
}

#bio {
    grid-column: 3;
    grid-row: 1 / 3;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#bio h2 {
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 150%;
}

/*Section 3*/

.section-3 {
    background-color: var(--fond-page);
    padding: 2% 5%;
}

/*Section*/

.section-3 {
    background-color: var(--fond-page);
    padding: 2% 5%;
}

.section-3 img {
    height: 100%;

}

.images {
    display: grid;
    grid-template-columns: 10% 80vw 10%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "gauche front droite";
    height: 60vh;
    width: 100%;
    overflow: hidden;
}

.gauche,
.front,
.droite {
    display: flex;
    height: 100%;
    align-items: center;
}

.gauche img,
.droite img {
    height: 80%;
    filter: grayscale(30);
}

.gauche {
    grid-area: gauche;
    justify-content: right;
}

.front {
    grid-area: front;
    justify-content: center;
}

.droite {
    grid-area: droite;
}

.preload {
    display: none;
}

.arrows {
    width: 90%;
    margin: 0 5%;
    height: fit-content;
}

.prev,
.next {
    position: relative;
    top: -5vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    border-radius: 3px 0 0 3px;
    float: right;
}

.prev {
    border-radius: 3px 0 0 3px;
    float: left;
}




















/*Scroll*/
.holster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    scroll-behavior: smooth;
}

.container {
    position: absolute;
    top: var(--hauteur-nav);
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex: none;
    width: 100vw;
    height: calc(100vh - var(--hauteur-nav));
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
}

.container>section {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
    height: 100%;
}

/*Nav*/
nav {
    background-color: var(--fond-sombre);
    position: sticky;
    top: 0;
    font-size: 1.4rem;
    font-family: 'Andika', sans-serif;
    height: var(--hauteur-nav);
}

.menu {
    list-style-type: none;
    overflow: hidden;
}

.menu-item {
    float: right;
}

.top {
    float: left;
}

.menu-item a {
    display: inline-block;
    color: var(--texte-clair);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item a:hover {
    color: var(--accentuation-2);
}

